<mat-grid-list cols="3" rowHeight="250" *ngIf="stores.length > 0; else nothing">
  <mat-grid-tile *ngFor="let store of stores">
    <nc-store-card [store]="store"></nc-store-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #nothing>
  <p>Pas de panier disponible pour cette catégorie.</p>
</ng-template>
